<!-- Toolbar superior -->
<mat-toolbar>
    <mat-toolbar-row style="display: flex; align-items: center;">
        <span>Recuperación de Contraseña</span>

        <!-- Empuja el botón a la derecha -->
        <span style="flex: 1 1 auto;"></span>

        <!-- Botón cerrar -->
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>

    <!-- IMPORTANTE: ngSubmit agregado -->
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmit()">

        <div style="display: flex; flex-direction: column;">

            <!-- EMAIL -->
            <mat-form-field appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="email" required>

                <mat-error *ngIf="forgotPasswordForm.controls['email'].touched">
                    <span *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
                        El correo electrónico es obligatorio
                    </span>
                    <span *ngIf="forgotPasswordForm.controls['email'].hasError('email')">
                        El correo electrónico no es válido
                    </span>
                </mat-error>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">

    <button class="btnSend" mat-flat-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="forgotPasswordForm.invalid && forgotPasswordForm.dirty">
        <mat-icon>send</mat-icon> Recuperar Contraseña
    </button>

    <!-- CERRAR -->
    <button class="btnClose" mat-raised-button mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cerrar
    </button>

</mat-dialog-actions>